.app-header {
    background-color: #46748f;
    border-bottom: 1px solid var(--border-color);
    padding: 12px 0;
    box-shadow: var(--shadow-subtle);
    width: 100%; 
}

.header-container {
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.header-logo {
    margin: 0;
    color: #fff;
    font-size: 45px;
    font-weight: 650;
}
h2.header-logo span {
    color: #20262d; 
    font-weight: 700;
    font-size: 50px;
}